.documentation-header {
    position: relative;
}

.version-selector {
    position: absolute;
    right: 20px;
    top: 0;
}

.docs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.doc-item {
    width: 30%;
    border: solid 1px #333;
    padding: 10px;
    margin: 10px;
}

.doc-item:hover {
    background-color: #eee;
    cursor: pointer;
}

.doc-item .doc-title {
   font-weight: 500; 
   margin: 0;
   color: #333;
   text-align: left;
   line-height: 30px;
   font-size: 18px;
}

.docs-list a:link {
    text-decoration: none;
}

.doc-item .doc-description {
    text-align: left;
    color: #333;
    margin: 18px 10px;
}

@media(max-width: 767px) {
    .doc-item {
        width: 100%;
    }
}

.version-selector__select {
    font-size: 16px;
    border: solid 1px #333;
    background-color: #fff;
}