/* Main page with stikky-footer */
html, body {
  height: 100%;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid #EB0195;
}

/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;	
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

/* Navbar */
.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  background-image: url("/images/graphql-java.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: block;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-text {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #6b6b6b;
}
.navbar-default .navbar-link:hover {
  color: #6b6b6b;
}

/* Custom page CSS */
.container {
  width: auto;
  margin: 0 100px;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #EB0195;
}
.container a:hover {
  color: #B5FED9;
}
.container p img, .img-responsive {
  display: block;
  height: auto;
  margin: 2rem auto;
  max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a, h5 a {
  color: #EB0195;
}
.panel{
  border-style: none;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
}
.social-links {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0px;
  width: 100%;
  text-align: center;
  animation: fade 1s ease 1s both;
}
.social-links li {
  display: inline-block;
  padding: 5px;
  padding-top: 0;
  text-align: center;
}
.social-links li a {
  font-size: 20px;
  color: #000;
  padding: 10px;
  padding-bottom: 4px;
  transition: all .4s ease;
}
.social-links li a:hover {
  color: #000;
}
.avatar {
  padding-top: 5%;
}
.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.label {
  display: inline-block;
  margin-bottom: 5px;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}
.blogpost{
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}

/* Footer  */
.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #6b6b6b;
}
div.footer{
  border-bottom: 5px solid #EB0195;
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;
  
}*/

.home-section {
  margin-bottom: 80px;
}

.home-section-title {
  margin-bottom: 40px;
}

.home-section.blog {
  font-size: 20px;
}

.home-section.about .version-info {
  font-size: 20px;
  max-width: 600px;
  background: #eee;
  margin: 50px auto;
  padding: 10px;
}

.home-section-more {
  color:#EB0195;
  font-size: 18px;
}

.contact-form {
  margin: 0 auto;
  width: 60%;
}

.contact-content {
  font-size: 20px;
}

.highlight pre {
  border: none;
}

.blogpost h1 {
  font-size: 26px;
}

.blogpost h2 {
  font-size: 22px;
}

.blogpost h3 {
  font-size: 20px;
}

@media (min-width: 767px) {
  .navbar-nav {
    font-size: 18px;
  }

  .navbar-default {
    display: flex;
    align-items: center;
  }

  .navbar-default .navbar-collapse {
    display: flex !important;
    width: 100%;
  }

  .navbar-default .navbar-collapse .aa-input-container {
    margin-left: auto;
    margin-right: 100px;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6b6b6b;
    background-color: #ffffff;
  }
  .navbar-default .navbar-brand {
    height: 50px;
    width: 50px;
  }
  .container {
    margin: 0;
  }
}