{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <div class="blog-post">
          <h3>
            <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
          </h3>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="blogpost">
              {{ .Content }}
            </div>
          </div>
          <hr>
        </div>
      </div>
      {{ end }}
    </div>

    <!-- Footer -->
    {{ partial "footer" . }}
    
  </body>
</html>
