{{ partial "head" . }}

<body>
  <div id="wrap">
    <!-- Header -->
    {{ partial "header" . }}
    <div class="container">
      <h1 class="title">
        {{ .Title }}
      </h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="blogpost">
            {{ if (eq .Params.toc "true") }}
              {{.TableOfContents}}
            {{ end }}
            {{ .Content }}
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <!-- Footer -->
  {{ partial "footer" . }}

</body>

</html>